</div>
</main>
<footer>
  <p class="mt-1">©2019 chewcrew</p>
  <p class="para">Created by Sulaiman Hamouda</p>
  <a href="https://sulaimanh.github.io/cv/"><i class="fas fa-user-alt"></i></a>
</footer>
</body>

</html>
