<%- include("partials/header") -%>

<h2 class="pb-5">Welcome, <%= usersName.firstname + " " + usersName.lastname %></h2>

  <div class="row pb-4">
    <h4 class=" w-100 pb-2 pt-2">
      Events happening:
      <hr>
    </h4>
  </div>

  <div class="">
    
  </div>

</div>

<%- include("partials/footer") -%>
