<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>chew crew</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,900|Ubuntu" rel="stylesheet">

  <!-- CSS Style sheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/signinstyles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link rel="icon" href="/images/chewcrewlogo.png">

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <section class="colored-section" id="title">

    <!-- This allows anything that is contained inside your container to be fully
      responsive relative to the size of the screen
      container jumps through the different widths but the fluid container
      simply adapts to the width of the screen and always takes up 100 percent
      of the screen width -->
      <!-- <div class="alert alert-danger" role="alert">
        Sorry, wrong credentials
      </div> -->
    <div class="container-fluid">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href=""><img height="80px" width="80px" src="images/chewcrewlogo.png" alt="">chew crew</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse flex-row-reverse" id="navbarTogglerDemo02">
          <form action="/login" method="POST">
            <input class="ml-2 login" type="email" name="username" placeholder="Username">
            <input class="ml-2 login" type="password" name="password" placeholder="Password">
            <button class="ml-2 btn btn-primary" type="submit">Log in</button>
            <a class="btn btn-google" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
               Google Sign in
            </a>
          </form>
        </div>

      </nav>



      <!-- Title -->


      <div class="row">
        <div class="col-lg-6">
          <h1 class="big-heading">Take control of your event by organizing what the crew chews</h1>
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
        </div>

        <div class="col-lg-6 form-signin justify-content-end mr-auto p-2">
          <form action="/register" method="POST">
            <h1 class="h3 mb-3 font-weight-normal align-middle">Sign up to join Chew Crew</h1>
            <!-- The autofocus will put that blue highlight around the element -->
            <input name="username" type="email" class="form-control top" placeholder="Email" required autofocus>
            <input name="password" type="password" class="form-control middle" placeholder="Password" required>
            <input name="first" type="text" class="form-control middle" placeholder="First Name" required>
            <input name="last" type="text" class="form-control bottom" placeholder="Last Name" required>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Me Up!</button>
          </form>
          <a class="mt-2 btn btn-lg btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>


      </div>

    </div>

  </section>


  <!-- Features -->

  <section class="white-section" id="features">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 feature-box">
        <img class="icon" src="images/picnic-basket.png" height="70px" width="70px" alt="">
        <h3 class="feature-title">Organize Events</h3>
        <p>A place where people can create and organize events.</p>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 feature-box">
        <img class="icon" src="images/salad.png" height="70px" width="70px" alt="">
        <h3 class="feature-title">Exchange Ingredients</h3>
        <p>Share and find new special ingredients and dishes with friends.</p>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 feature-box">
        <img class="icon" src="images/dish.png" height="70px" width="70px" alt="">
        <h3 class="feature-title">Save dishes</h3>
        <p>Save your dishes in order to view them later.</p>
      </div>
    </div>

  </section>


  <!-- Download App -->

  <section class="colored-section" id="app">

    <h3 class="big-heading">Download our app for Apple and connect with your Crew on the go</h3>
    <button type="button" class="btn btn-light btn-lg download-button"><i class="fab fa-apple"></i> Download</button>

  </section>


  <!-- Footer -->

  <footer class="white-section" id="footer">
    <i class="social-icon fab fa-facebook-f"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fas fa-envelope"></i>
    <p class="mt-1">©2019 chewcrew</p>
    <p>Created by Sulaiman Hamouda</p>

  </footer>


</body>

</html>
